{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Halo, dunia!</title>
{% endblock meta %}

{% block content %}
<!-- <br>
<br>
<br>
<br>
<br> -->
<div class = "form-group">

  <nav class="navbar navbar-expand-lg" style="background-color: #FECD70">
    <div class="container-fluid">
      <div class = "login container d-flex flex-column justify-content-center align-items-center">
        <a class="navbar-brand mb-0 h1"style="font-size: 30px">&#10133 Add Item </a>
      </div>
    </div>
  </nav>

  <style>
    body {
        background-color: #F3E0B5;
    }

    .table {
        margin: auto;
        width: 50%; 
    }

    .balik {
        background-color: #EE4B2B;
        border: #EE4B2B;
    }

    .balik:hover {
        background-color: #8B0000;
        border: #8B0000;
    }
  </style>

  <script>
    $(document).ready(() => {
      $('.balik').click(function() {
        window.location = '/petani/'
      });
    });
  </script>

  <br>

  <div class="d-flex justify-content-center">
    <form id="form" onsubmit="return false;">
        {% csrf_token %}
        <div class="form-group">
          <label >Nama barang</label>
          <input type="text" class="form-control" name="nama_barang" placeholder="Apel">
        </div>

        <div class="form-group">
          <label >Jumlah barang</label>
          <input type="number" class="form-control" name="kuantitas_barang" placeholder="10000">
        </div>

        <!-- <div class="form-group">
          <label >Asal daerah</label>
          <input type="text" class="form-control" name="deskripsi" placeholder="Jakarta">
        </div> -->

        <br>

        <div class="form-row">
          <div class="d-flex justify-content-center">
            <button type="submit" value="Submit" class="btn btn-primary balik">Back</button>
            <button id="button" type="submit" value="Submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        
    </form>
  </div>
</div>

<br>

<div class="d-flex justify-content-center">
  <table id="table" class="table table-striped table-bordered table-hover"></table>
</div>

<script>
  async function getBarangPetani() {
    return fetch("{% url 'get_barang_petani_json' %}").then((res) => res.json())
  }

  async function refreshBarangPetani() {
        document.getElementById("table").innerHTML = ""
        const barang_petani = await getBarangPetani()
        let htmlString = `<thead>
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Kuantitas</th>
            <th scope="col">Daerah asal</th>
          </tr>
        </thead>`
        barang_petani.forEach((item) => {
          htmlString += `\n<tr>
          <th>${item.fields.nama_barang}</th>
          <th>${item.fields.kuantitas_barang}</th>
          <th>${item.fields.daerah_asal}</th>
        </tr>` 
        })
        
        document.getElementById("table").innerHTML = htmlString
  }

  function addBarangPetani() {
    fetch("{% url 'add_barang_petani' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshBarangPetani)
    return false
  }

  document.getElementById("button").onclick = addBarangPetani
  refreshBarangPetani()
</script>
{% endblock content %}