{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Halo, dunia!</title>
{% endblock meta %}

{% block content %}
  <div class="d-flex justify-content-center">
    <form id="form" onsubmit="return false;">
        {% csrf_token %}
        <div class="form-group">
          <label >Nama barang</label>
          <input type="text" class="form-control" name="nama_barang" placeholder="Apel">
        </div>

        <div class="form-group">
          <label >Jumlah barang</label>
          <input type="number" class="form-control" name="harga_barang" placeholder="10000">
        </div>

        <div class="form-group">
          <label >Asal daerah</label>
          <input type="text" class="form-control" name="deskripsi" placeholder="Jakarta">
        </div>

        <div class="form-row">
          <div class="d-flex justify-content-center">
            <button id="button" type="submit" value="Submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </form>
  </div>

  <div class="d-flex justify-content-center">
    <table id="table"></table>
  </div>

<script>
  async function getWishlist() {
    return fetch("{% url 'get_wishlist_json' %}").then((res) => res.json())
  }

  async function refreshWishlist() {
        document.getElementById("table").innerHTML = ""
        const wishlist = await getWishlist()
        let htmlString = `<tr>
          <th>Nama Barang</th>
          <th>Harga Barang</th>
          <th>Deskripsi</th>
        </tr>`
        wishlist.forEach((item) => {
          htmlString += `\n<tr>
          <th>${item.fields.nama_barang}</th>
          <th>${item.fields.harga_barang}</th>
          <th>${item.fields.deskripsi}</th>
        </tr>` 
        })
        
        document.getElementById("table").innerHTML = htmlString
  }

  function addWishlist() {
    fetch("{% url 'add_wishlist_item' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshWishlist)
    return false
  }

  document.getElementById("button").onclick = addWishlist
  refreshWishlist()
</script>
{% endblock content %}