{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>

<style>
  #bgimg {
    background-image: url("{% static "img/padi.jpg" %}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .table {
    height: 15px;
  }
  .table-content {
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-base-color: gold;
    font-family: sans-serif;
    padding: 10px;
  }
  .body {
    background-image: url("{% static "img/textured-gray.png" %}");
    height: 100vh;
    word-wrap: break-word;
  }
  .text-md {
    font-size: 20px;
  }
  .text-sm {
    font-size: 18px;
  }
  .text-bold {
    font-weight: bold;
  }
  .navbar {
    box-shadow: 0px 2px 5px #666;
  }
  button {
    width: 150px;
  }
  h2 {
    font-size: 40px;
  }
  h1 {
    font-size: 100px;
    border-style: dashed;
  }
</style>

<script>
  $(document).ready(function() {
    {% comment %} get nama user logged in {% endcomment %}

    $('.table').append(`
    <div class="row text-bold text-md bg-warning">
      <div class="col">
        Nama Barang
      </div>
      <div class="col">
        Jumlah Barang
      </div>
      <div class="col">
        Tanggal Pesan
      </div>
      <div class="col-1"></div>
    </div>
    `);
    $('.table-content').append(`
    <div class="row text-bold text-md">
      <div class="col text-secondary">
        Ketuk 'Show Ongoing' untuk memunculkan daftar pesanan
      </div>
    </div>
    `);

    $('.modal-button').click(function() {
      var html_code = '<select name="item_id" class="form-control" placeholder="Nama Barang">'
      $('#options').text('');
      $.get('/permintaan/req_json/', function(data) {
        $.each(data, function(key, value) {
          html_code += `<option value="` + value.pk + `">
          `+ value.fields.request +`
          </option>`
        })
        html_code += ('</select>')
        $('#options').html(html_code);
      });
    });

    $('.ongoing-button').click(function() {
      $.get('/permintaan/req_json/', function(data) {
        $('.table-content').text('');
        $.each(data, function(key, value) {
          $('.table-content').append(`
          <div class="row text-bold text-md">
            <div class="col">
              `+ value.fields.request +`
            </div>
            <div class="col">
              `+ value.fields.kuantitas_req +`
            </div>
            <div class="col">
              `+ value.fields.request_date +`
            </div>
            <div class="col-1"></div>
          </div>
          <div style="background-color:black;height:1px;"></div>
          `);
        });
        $('.table').text('');
        $('.table').append(`
        <div class="row text-bold text-md bg-warning">
          <div class="col">
            Nama Barang
          </div>
          <div class="col">
            Jumlah Barang
          </div>
          <div class="col">
            Tanggal Pesan
          </div>
          <div class="col-1"></div>
        </div>
        `);
      })
    });

    $('.history-button').click(function() {
      $.get('/pemda/history/', function(data) {
        $('.table-content').text('');
        $.each(data, function(key, value) {
          $('.table-content').append(`
          <div class="row text-bold text-md">
            <div class="col">
              `+ value.fields.item +`
            </div>
            <div class="col">
              `+ value.fields.item_amount +`
            </div>
            <div class="col">
              `+ value.fields.closed_date +`
            </div>
            <div class="col">
              `+ value.fields.review +`
            </div>
            <div class="col-1"></div>
          </div>
          <div style="background-color:black;height:1px;"></div>
          `);
        });
        $('.table').text('');
        $('.table').append(`
        <div class="row text-bold text-md bg-warning">
          <div class="col">
            Nama Barang
          </div>
          <div class="col">
            Jumlah Barang
          </div>
          <div class="col">
            Tanggal Terima
          </div>
          <div class="col">
            Review
          </div>
          <div class="col-1"></div>
        </div>
        `);
      })
    });

    $('.request-button').click(function() {
      window.location = '/permintaan/request/'
    });
  })
</script>
{% endblock meta %}

{% block content %}
<div class="body">

  <nav class="navbar navbar-expand-lg bg-light fixed-top" style="--bs-bg-opacity: .7;">
    <div class="container-fluid text-dark text-bold">
      <a class="navbar-brand" href="/">
        <img src="{% static "img/agritara-nav-logo.png" %}" alt="nav-logo">
      </a>
      <div class="collapse navbar-collapse justify-content-center">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link p-4" href="/" role="button" aria-haspopup="true" aria-expanded="false">Halaman Utama</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-4" href="#" role="button" aria-haspopup="true" aria-expanded="false">Daftar Pembelian</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-4" href="/permintaan/request/" role="button" aria-haspopup="true" aria-expanded="false">Pesan</a>
          </li>
        </ul>
      </div>
      <div class="justify-content-end">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            Halo, <div id="pemda-name"></div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="image-fluid" id="bgimg">
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="container">
      <h1 class="text-bold" align="center">PEMDA</h1>
      <br>
    </div>
  </div>
  <br>
  <br>

  <div class="container-sm rounded-3 bg-light" style="--bs-bg-opacity: .4; height: 550px;">
    <h2 class="text-light text-bold" align="center"><span class="text-warning">Bar</span>ang</h3>
    <br>
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <button class="rounded-start ongoing-button">Show Ongoing</a>
          <button class="rounded-end history-button">Show History</a>
        </div>
        <div class="col-md-auto">
          <button class="rounded-3 request-button">Pesan Barang</a>
        </div>
      </div>
      <br>

      <div class="container bg-light rounded-2" style="height:300px;">
        <div class="table" align="center"></div>
        <div class="table-content" align="center"></div>
      </div>
      <br>

      <!-- Button trigger modal -->
      <button type="button" class="btn text-light btn-secondary rounded-3 modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Barang telah diterima?
      </button>
      <br>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="exampleModalLabel">Konfirmasi Terima Barang</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST">
                {% csrf_token %}
                <div class="row justify-content-md-center">
                  <div class="col-auto text-bold text-sm">Pilih Barang:</div>
                  <div class="col-8">
                    <div id="options"></div>
                  </div>
                </div>
                <br>
                <input type="text" name="review" id="form3Example4" class="form-control form-control-lg" placeholder="Note (optional):" />
                <br>
                <button type="submit" class="btn btn-primary" id="submit-button" style="width: 160px;">Tutup Pesanan</button>
                <button type="button" class="btn btn-secondary" style="width: 90px;" data-bs-dismiss="modal">Kembali</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <br>
  <br>
  {% comment %} <div class="image-fluid" id="contact-bgimg"> {% endcomment %}

  </div>
</div>
{% endblock content %}